<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpoly.managebookings">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".views.listOrdersCompleted.ListOrdersCompletedActivity"
            android:exported="true"
            android:label="@string/title_activity_list_order_completed" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.orderBookingDetail.OrderBookingDetailActivity"
            android:exported="true"
            android:theme="@style/TextAppearance.AppCompat.Widget.ActionBar.Title" />

        <activity
            android:name=".views.listRoomEmpty.ListRoomEmptyActivity"
            android:exported="true"
            android:label="List Room Empty"
            android:theme="@style/TextAppearance.AppCompat.Widget.ActionBar.Title"></activity>

        <activity android:name=".Activity_dangnhap" />

        <activity
            android:name=".views.listOrderWaiting.ListOrderWaitingActivity"
            android:exported="true"
            android:label="Waiting List">

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="optima_fonts"
            android:resource="@array/unicode_optima" />
    </application>

</manifest>